.App {
  text-align: center;
}

.menu {
  display: flex;
  gap: 15px;
  right: 5%;
  margin: 5px;
  margin-left: 70%;
}

.menu a {
  text-decoration: none;
  color: brown;
}
.menu a:hover {
  text-decoration: underline;
  color: brown;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

h1 {
  color: tomato;
  margin-left: 30px;
}
